<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card p-3 py-4 mt-4">

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary px-2 profile-button"
                        onclick="window.location.href='/addService';">Service Request</button>
                    <button class="btn btn-primary px-2 ms-1 profile-button">Wallet</button>
                    <button class="btn btn-primary px-2 ms-1 profile-button" type="button" data-bs-toggle="modal"
                        data-bs-target="#editProfileModal">Edit</button>
                </div>

                <div class="position-relative">
                    <div class="text-center position-absolute top-0 start-50 translate-middle mt-0">
                        <img src="../assets/Dog.jpg" class="rounded-circle" id="img-profile-round">
                    </div>
                </div>

                <div class="text-center mt-4" id="profile-info">
                    <h5 class="mt-0 mb-2 profile-name">{{ first_name }} {{ last_name }}</h5>
                    <p>{{ address.city }}
                    <p>
                    <p>{{ email }}
                    <p>
                    <p>{{ phone_number }}
                    <p>

                        <!-- Button Group "Pets", "Services", "Likes" -->
                    <ul class="nav justify-content-center mt-4">
                        {{!-- <li class="nav-item">
                            <p class="mb-0 profile-status-number">10</p>
                            <a class="nav-link profile-navigation-text" href="#">Pets</a>
                        </li> --}}
                        <li class="nav-item">
                            <p class="mb-0 profile-status-number">15</p>
                            <a class="nav-link active text-decoration-underline profile-navigation-text"
                                aria-current="page" href="#">My Services</a>
                        </li>
                        {{!-- <li class="nav-item ms-5">
                            <p class="mb-0 profile-status-number">15</p>
                            <a class="nav-link disabled profile-navigation-text" href="#">Likes</a>
                        </li> --}}
                    </ul>

                    <!-- CARDS SECTION START-->
                    <div class="container mt-5 mb-5">

                        <div class="d-flex justify-content-center row text-start">
                            <div class="col-md-10">
                                <!-- CARD 1 - START-->
                                {{#each services as |service|}}
                                {{> each-service }}
                                {{/each}}
                                <!-- CARD 1 - END -->
                            </div>
                        </div>
                    </div>
                    <!-- CARDS SECTION END -->

                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal for updating profile (needs to be updated) --}}
<div class="modal" id="editProfileModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">

                <div class="d-flex justify-content-center row">
                    <div class="col-md-10">
                        <div class="row p-2 bg-white">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                    src="../assets/Cat.jpg"></div>

                            <form class="row">
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>First Name</label>
                                        <input class="form-control" type="text" id="firstName" value="{{ first_name }}">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Last Name</label>
                                        <input class="form-control" type="text" id="lastName" value="{{ last_name }}">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Email</label>
                                        <input class="form-control" type="text" id="email" value="{{ email }}">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Password</label>
                                        <input class="form-control" type="text" id="password">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Phone Number</label>
                                        <input class="form-control" type="text" id="phoneNumber">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Address</label>
                                        <input class="form-control" type="text" id="address">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>City</label>
                                        <input class="form-control" type="text" id="city">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>State</label>
                                        <input class="form-control" type="text" id="state">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Zip</label>
                                        <input class="form-control" type="text" id="zip">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="inputs">
                                        <label>Country</label>
                                        <input class="form-control" type="text" id="country">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="px-3 btn btn-sm btn-primary" id="saveprofile" data-id="{{ id }}">Save
                            </button>

                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/editProfile.js"></script>